<ion-view title="Page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="Note">
                <span class="input-label">Note</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button class="button button-balanced button-clear button-block ">Add note</button>
    </ion-content>
</ion-view>
